.*.sw[a-z]
*.un~
Session.vim
.project
.texlipse
*.pdf
*.gz
*.log
tmp
*~
*.nlo
*.nls
.settings
*.aux
*.out
*.log
*.bbl
*.blg
*.ilg
*.toc
*.dvi
*.pdf
/dissertacao.pdf
/dissertacao.synctex.gz
/tmp
/obj

